body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffdfda;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    margin-top: 40px; /* Adjust for fixed nav */
}

nav {
    background-color: #ffbf00;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.login {
    text-align: right;
}

.surch {
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
    display: flex; /* Flexbox를 사용하여 자식 요소들을 가로로 나열 */
    justify-content: space-between; /* 자식 요소들 사이에 균등한 간격을 줌 */
    flex-wrap: wrap; /* 자식 요소들이 넘칠 경우 다음 줄로 이동 */
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    flex: 1; /* 자식 요소들이 동일한 크기를 가지도록 설정 */
    margin: 10px; /* 카드들 사이의 간격을 줌 */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 카드에 그림자 효과를 줌 */
    transition: 0.3s; /* 호버 효과를 위한 부드러운 전환 */
    border-radius: 5px; /* 모서리를 둥글게 만듦 */
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    border-top-left-radius: 5px; /* 카드와 동일한 모서리 반경 적용 */
    border-top-right-radius: 5px; /* 카드와 동일한 모서리 반경 적용 */
}

.card h3 {
    margin-top: 0;
}

#foods {
    width: 500px; /* 음식 입력란의 너비를 300px로 조정 */
    height: 60px;
}

.food {
text-align: center;
}

.card h2, .card h3, .card p {
    margin: 5px; /* 텍스트 요소들 사이의 간격을 줌 */
}

image {
    align-items: center;
}

footer {
    text-align: center;
    color: #a9a9a9;
}